.App {
  text-align: center;
}

.app {
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.poker-table, .single-card {
  background-color: green;
}

.poker-table {
  border-radius: 25%;
  margin: 5%;
  width: 70%;
  height: 70%;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.human-cards, .cpu-cards {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  gap: 10px;
  width: 35%;
  height: 100%;
  margin: 5%;
}

.board-cards {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  gap: 10px;
}

.single-card {
  display: inline-block;
  height: 100%;
  width: 100%;
  max-height: 15vh;
  border: 0px;
}

.pot {
  position: absolute;
  font-size: 3vh;
  top: 60vh;
  left: 80vw;
  font-family: "Courier New";
}

.score {
  position: absolute;
  font-size: 2vh;
  top: 10vh;
  left: 80vw;
}

.log {
  position: absolute;
  font-size: 1.5vh;
  top: 20vh;
  left: 80vw;
  white-space: pre-line;
}

/* Buttons class to center the buttons below the table */
.buttons {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 5%;
}

/* Bootstrap button */
.btn.btn-custom {
  background-color: green;
  border-radius: 10%;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 4% 8%;
  display: inline-block;
  cursor: pointer;
}

.dollar {
  font-size: 2rem;
  font-family: "Courier New";
  align-self: center;
}



