:root {
  --button-color: #53d78b;
  --fold-color: red;
}

.App {
  text-align: center;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: #272727;
  font-family: Mulish,sans-serif;
  position: absolute;
  top: 0;
  left: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.poker-table, .single-card {
  background-color: rgb(16, 97, 34);
}

.poker-table {
  border-radius: 20vw;
  margin: 5%;
  width: 90%;
  height: 70%;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.human-cards, .cpu-cards {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  gap: 10px;
  width: 35%;
  height: 100%;
  margin: 5%;
}

.board-cards {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  gap: 10px;
}

.single-card {
  display: inline-block;
  height: 100%;
  width: 100%;
  max-height: 15vh;
  border: 0px;
}

.pot {
  position: absolute;
  font-size: 3vh;
  top: 45vh;
  left: 35vw;
  font-family: "Courier New";
}

.score {
  position: absolute;
  font-size: 2vh;
  top: 2vh;
  left: 75vw;
  text-align: center;
}

.log {
  position: absolute;
  font-size: 1.5vh;
  top: 20vh;
  left: 80vw;
  white-space: pre-line;
  color: white;
}

/* Bootstrap button */
.btn.btn-custom {
  background-color: transparent;
  border: 2px solid;
  color: var(--button-color);
  border-radius: 0.5rem;
  font-size: 0.8rem;
  padding: 4% 8%;
  display: inline-block;
  font-weight: bold;
}

.btn.btn-custom:hover {
  background-color: var(--button-color);  
}

.btn.fold {
  color: var(--fold-color);
}

.btn.back {
  color: white;
}

.btn.back:hover {
  background-color: white;
}

.btn.fold:hover {
  background-color: var(--fold-color);
}

.raise-controller {
  display: flex;
  flex-direction: column;
  background-color: #2f2f2f;
  border-radius: 0.5rem;
  margin: 1%;
  height: 8vh;
}

.back-raise-buttons {
  flex-basis: 50%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

#back-button {
  flex-basis: 50%;
}

#raise-button {
  flex-basis: 50%;
}

.default-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-evenly;
  height: 50%;
}

.slider {
  height: 50%;
}

.btn.default-bet {
  color: white;
  font-size: 50%;
  border-width: 0.01rem;
  border-radius: 0.2rem;
  padding: 0px;
  width: 25%;
}

.range-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  position: relative;
  left: 5%;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: orange;
  transform: translateY(calc(-50% + 0.25vh));
}

#slider {
  background-color: gray;
}

.range-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5vh;
  cursor: pointer;
  background: gray;
  position: relative;
  top: 0.25vh;
}

#your-bet {
  background-color: #2f2f2f;
  border-radius: 0.5rem;
  width: 30vw;
  height: 8vh;
  margin: 1%;
  flex-basis: 50%;
}

#label {
  font-size: 0.8rem;
  color: gray;
  text-align: center;
  height: 33%;
  margin: 0; 
  padding: 3%;
}

#betInput {
  width: 90%;
  text-align: center;
  margin: 1%;
  background: rgba(255,255,255,.04);
  border-style: solid;
  border-radius: 0.3rem;
  border-width: 0.01rem;
  color: white;
  font-weight: bold; 
  font-size: 1.8rem;
  padding: 0;
  margin: 0;
  height: 50%;
}

#label-and-buttons {
  display: flex;
}