.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  position: relative;
  display: inline-block;
}

.humanCard1 {
  position: absolute;
  top: 395px;
  left: 300px;
  height: 20%;
  width: 20%;
}

.humanCard2 {
  position: absolute;
  top: 395px;
  left: 400px;
  height: 20%;
  width: 20%;
}

.cpuCard1 {
  position: absolute;
  top: 25px;
  left: 450px;
  height: 116px;
  width: 80px;
}

.cpuCard2 {
  position: absolute;
  top: 25px;
  left: 550px;
  height: 116px;
  width: 80px;
}

.board1 {
  position: absolute;
  top: 200px;
  left: 300px;
  height: 116px;
  width: 80px;
}

.board2 {
  position: absolute;
  top: 200px;
  left: 400px;
  height: 116px;
  width: 80px;
}

.board3 {
  position: absolute;
  top: 200px;
  left: 500px;
  height: 116px;
  width: 80px;
}

.board4 {
  position: absolute;
  top: 200px;
  left: 600px;
  height: 116px;
  width: 80px;
}

.board5 {
  position: absolute;
  top: 200px;
  left: 700px;
  height: 116px;
  width: 80px;
}

.table svg {
   display: block;
   max-width: 100%;
}

.pot {
  position: absolute;
  top: 400px;
  left: 700px;
  font-family: "Courier New";
  font-size: 36px;
}

.score {
  position: absolute;
  top: 100px;
  left: 1100px;
}

.buttons {
  position: absolute;
  top: 550px;
  left: 140px;
}

.log {
  position: absolute;
  top: 160px;
  left: 1100px;
  white-space: pre-line;
  font-size: 24px;
}

